### String Declaration

In [1]:
a = "Hello"
print (a)

Hello

In [2]:
b = 'World'
print (b)

World

In [3]:
a = """Hii
How are you?"""

print (a)

Hii
How are you?

### How to Access Python String?

In [4]:
a = "Dog"
print (a[1])
print (a[-1])

o
g

In [5]:
st = "Hello World"
print (st[1:4])

ell

In [6]:
st = "Hello World"
print (st[1:])

ello World

In [7]:
st = "Hello World"
print (st[:10])

Hello Worl

In [8]:
st = "Hello World"
print (st[-5:-1])

Worl

In [9]:
st = "Hello World"
print (st[:])

Hello World

In [10]:
st = "Hello World"
print (st[1:8:2])

el o

### String Concatenation

In [11]:
str1 = "Hi_"
str2 = "There"

str3 = str1 + str2
print (str3)

Hi_There

### String Formatters

In [12]:
name = "Parsis"
address = "India"
print("Name:",name,"Address:",address)
print("Name:"+name+" Address:"+address)

Name: Parsis Address: India
Name:Parsis Address:India

In [13]:
# f-string [Format Specifier for String]

name = 'Parsis'
print(f"It isn't {name}'s birthday")

It isn't Parsis's birthday

In [14]:
# format()

a = "Python"
print("{0} is awesome ".format(a))
print("{a} is awesome ".format(a="P"))

Python is awesome
P is awesome

In [15]:
# format()

a = "Python"
b = "awesome"
print("{0} is {1} ".format(a,b))
print("{a} is {b} ".format(a="P", b="a"))

Python is awesome
P is a

In [16]:
# % operator

a = "Wednesday"
b = "Python"

print("Today is %s and we have %s session." %(a,b))

Today is Wednesday and we have Python session.

### Escape Sequences

#### \n

In [17]:
a = "Hi\nHello"
print (a)

Hi
Hello

#### \t

In [18]:
a = "Hi\tHello"
print (a)

Hi	Hello

#### \\\

In [19]:
a = "Hi\\Hello"
print (a)

Hi\Hello

#### \\'

In [20]:
a = "Hi\'Hello"
print (a)

Hi'Hello

#### \\"

In [21]:
a = "Hi\"Hello"
print (a)

Hi"Hello

### String Functions

#### len()

In [22]:
# Returns the length of the string

st = "Parsis"
print (len(st))

6

#### str()

In [23]:
#Returns the string

st = 12
print (type(st))
print (str(st), type(str(st)))

<class 'int'>
12 <class 'str'>

#### lower()

In [24]:
# Returns string in lowercase

s = "ParsIs"
print (s.lower())

parsis

#### upper()

In [25]:
# Returns string in uppercase

s = "ParsIs"
print (s.upper())

PARSIS

#### strip()

In [26]:
#Removes space in the starting of the string

a = "        Hello World   "

print (a)
print (a.strip())

        Hello World
Hello World

#### isdigit()

In [27]:
#Checkes whether string is digit or not

a = "ParsIs"
b = "04"
c = "p04"

print (a.isdigit())
print (b.isdigit())
print (c.isdigit())

False
True
False

#### isalpha()

In [28]:
#Checkes whether all charactr in string is alphabetic or not
#space will not be considered

a = "ParsIs"
b = "Par04"
c = "04"

print (a.isalpha())
print (b.isalpha())
print (c.isalpha())

True
False
False

#### isspace()

In [29]:
#Returns true if all character in string are space

s = "Hello world "
st = "  "

print (s.isspace())
print (st.isspace())

False
True

#### startswith()

In [30]:
#Returns true if the string starts with particular character given
#Case-sensitive

s = "Hello world "
print (s.startswith('H'))
print (s.startswith('h'))

True
False

#### title()

In [31]:
#Returns first the words of the string into uppercase

s = "hello world "
print (s.title())

Hello World

#### islower()

In [32]:
#Returns true if all characters are in lower case

s = "hello world "
print (s.islower())

s = "Hello world "
print (s.islower())

True
False

#### endswith()

In [33]:
#Returns true if the string ends with particular character given
#Case-sensitive

s = "Hello world "

print (s.endswith(' '))
print (s.endswith('D'))

True
False

#### find()

In [34]:
#Returns the index of the substring
#-1 shows when that value is not there

s = "Hello world "

print (s.find('world'))
print (s.find('w'))
print (s.find('world!!'))

6
6
-1

#### replace()

In [35]:
#Replace all the occurance of the string

s = "Hello world Hello"
print (s.replace('Hello','Hi'))

Hi world Hi

#### split()

In [36]:
#String will split around every occurance

s = "Hello world "
print (s.split(' '))

['Hello', 'world', '']

#### join()

In [37]:
#Joins the characters list is applied on

a = "Hello"
b = '4_'
print (b.join(a))

H4_e4_l4_l4_o

#### capitalize()

In [38]:
#Returns first word of the string into uppercase

a = "hello, how are you?"
print(a.capitalize())

Hello, how are you?

#### swapcase()

In [39]:
#Provide the swap of the character

a = "Hello, how are you?"
print(a.swapcase())

hELLO, HOW ARE YOU?

#### isupper()

In [40]:
a="Hello"
b="hello"
c="HELLO"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

#### isdecimal()

In [41]:
#0 to 9 value is decimal else false

a = "9"
b = "9.9"
c = "nine"

print(a.isdecimal())
print(b.isdecimal())
print(c.isdecimal())

True
False
False

#### isalnum()

In [42]:
# Checks alphabets and numbers without space

a = "abc123"
b = "123"
c = "abc"
d = "jsak56@"
e = "jsak 56"

print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())
print(e.isalnum())

True
True
True
False
False

### Type specific operations on strings

#### max()

In [43]:
#Returns max value

a = "C","c"

print (max(1, 3, 2, 5, 4))
print (max(a))

5
c

#### min()

In [44]:
#Returns min value

a = "C","c"

print (min(1, 3, 2, 5, 4))
print (min(a))

1
C

#### count()

In [45]:
#Returns the total count of the value

a = "Python is awesome, isn't it?"

print(a.count("t"))
print(a.count("is"))

#it will find only from index 0 to 12

print(a.count("is",0,12))

3
2
1

### String Operators

#### Comparison Operators.

In [46]:
a = "Python"
b = "Python"

print (a == b)

True

In [51]:
a, b = "C","c"

print (a > b)

False

#### Arithmetic Operators.

In [52]:
a, b = "C","c"

print (a + b)

Cc

In [55]:
a, b = "C",3

print (a * b)

CCC

#### Membership Operators

In [56]:
a = "apple"

print ("p" in a)

True

In [57]:
a = "apple"

print ("p" not in a)

False

#### Identity Operators

In [58]:
a = "apple"
b = "Apple"

print (a is b)

False

In [59]:
a = "apple"
b = "apple"

print (a is b)

True

## Practice Programs

### 1) Take the input from user and greet them

In [60]:
# input : Parsis
name = input("Enter your name: ")
print ("Hello",name)

Enter your nameparsis
Hello  parsis

### 2) Reverse the given string

In [61]:
st = "name"
print (st[::-1])

eman

### 3) Check wheather vowel is present or not

In [65]:
st = "name"
print ("a" in st or "e" in st or "i" in st or "o" in st or "u" in st)

True

### 4) Take a sentence of 4 line from user and convert it into title

In [67]:
# Hi, my name is Parsis. I hope you are doing well. i hope to meet you soon.

st = input ("Enter string: ")
print (st.title())

Enter string: Hi, my name is Parsis. I hope you are doing well. i hope to meet you soon.
Hi, My Name Is Parsis. I Hope You Are Doing Well. I Hope To Meet You Soon.