### <h3 align="center">Prepared By Parsis Tamakuwala</h3>

### Tuple Initialization

In [1]:
tup1 = ()
print (tup1, type(tup1))

In [2]:
tup1 = (5,6,"a")
print (tup1, type(tup1))

In [3]:
# Create tuple with single element

tup1=56,
print (tup1, type(tup1))

tup1 = (56,)
print (tup1, type(tup1))

In [4]:
tup2 =12,16,15,18
print (tup2, type(tup2))

#### Nested tuple

In [5]:
tup1 = ((1,2,3),(4,(5,6)))

print (tup1, type(tup1))
print (tup1[1][0])

((1, 2, 3), (4, (5, 6))) <class 'tuple'>
4

#### List inside tuple

In [6]:
tup1 = ([1,2,3],(4,[5,6]))

print (tup1, type(tup1))
print (tup1[0], type(tup1[0]))

([1, 2, 3], (4, [5, 6])) <class 'tuple'>
[1, 2, 3] <class 'list'>

In [7]:
tup1[0][0] = 5
print (tup1, type(tup1))

([5, 2, 3], (4, [5, 6])) <class 'tuple'>

In [8]:
tup1[0].insert(3,4)
print (tup1, type(tup1))

([5, 2, 3, 4], (4, [5, 6])) <class 'tuple'>

#### Tuple inside List

In [9]:
lst1 = [(1,2,3),(4,[5,6])]

print (lst1, type(lst1))
print (lst1[0], type(lst1[0]))

[(1, 2, 3), (4, [5, 6])] <class 'list'>
(1, 2, 3) <class 'tuple'>

### Unpacking the tuple

In [10]:
percentage = (90, 99, 80, 85)
print (percentage, type(percentage))

a, b, c, d = percentage
print (a)

(90, 99, 80, 85) <class 'tuple'>
90

In [11]:
# Unpacking of animals and fruits

tup = ("dog","apple","mango","orange")  # * says remaing should assign to another variable
animal,*fruits = tup

print ("animal:",animal,"   fruits:", fruits)

animal: dog    fruits: ['apple', 'mango', 'orange']

In [12]:
animal,*fruits, c = tup

print ("animal:",animal,"   fruits:", fruits, "   c:",c)

animal: dog    fruits: ['apple', 'mango']    c: orange

In [13]:
*animal, fruits, c = tup

print ("animal:",animal,"   fruits:", fruits, "   c:",c)

animal: ['dog', 'apple']    fruits: mango    c: orange

### Delete a tuple

In [14]:
del tup2

### Operations on Tuples

#### + (Concatenation)

In [15]:
# Returns a tuple containing all the elements of the first and the second tuple.

tup1 = (1,4) #Integer
tup2 = ("a",2,"c",True) #hetrogeneous tuple

print (tup1 + tup2)

(1, 4, 'a', 2, 'c', True)

#### * (Repetition)

In [16]:
# Concatenates multiple copies of the same tuple

tup1 = ("Hi ")
print (tup1*3)

Hi Hi Hi

#### [] (slice)

In [17]:
# Returns the item at the given index. A negative index counts the position from the right side.

t1 = (1,2,3,4,5,6)
print (t1[3])
print (t1[-2])

4
5

#### [:] (Range slice)

In [18]:
# Fetches the items in the range specified by two index operands separated by the : symbol. 
# If the first operand is omitted, the range starts at zero index. 
# If the second operand is omitted, the range goes up to the end of tuple.

t1=(1,2,3,4,5,6) 
print (t1[1:3])
print (t1[3:])
print (t1[:3])

(2, 3)
(4, 5, 6)
(1, 2, 3)

#### in

In [19]:
# Returns true if an item exists in the given tuple.

t1 = (1,2,3,4,5,6)

print (5 in t1)
print (10 in t1)

True
False

#### not in

In [20]:
# Returns true if an item does not exist in the given tuple.

t1=(1,2,3,4,5,6)

print (4 not in t1)
print (10 not in t1)

False
True

### Built-in Tuple Methods

#### len()

In [21]:
# Returns the number of elements in the list/tuple

tup1 = ("a",2,"c",True,5,"name")
print (len(tup1))

6

#### max()

In [22]:
# Returns the largest number, if the list contains numbers. 
# If the list contains strings, the one that comes last in alphabetical order will be returned.

tup1 = [1,4,9,2,1] 
print (max(tup1)) #Same Type of data type

tup1 = ["A","a","c"] 
print (max(tup1))

9
c

#### min()

In [23]:
# Returns the smallest number, if the list contains numbers. 
# If the list contains strings, the one that comes first in alphabetical order will be returned.

tup1 = [1,4,9,2,1] 
print (min(tup1))

tup1 = ["A","a","c"] 
print (min(tup1))

1
A

#### sum()

In [24]:
t1 = (1,2,3,4,5,6)  # Same type of data type
print (sum(t1))

21