### List Initialization

In [1]:
#Create empty list

lst = []
print (lst)

[]

In [2]:
lst1 = [1,4,9,2,1] #Integer
lst2 = ["a","b","c","D","Parsis"] # String
lst3 = ["a",2,"c",True,5,"name"] #hetrogeneous list

print (lst1)
print (lst2)
print (lst3)

[1, 4, 9, 2, 1]
['a', 'b', 'c', 'D', 'Parsis']
['a', 2, 'c', True, 5, 'name']

In [3]:
# list in list

a = [1,2,3.5]
print (a)

b = ["name",a]
print (b)

[1, 2, 3.5]
['name', [1, 2, 3.5]]

### Delete a List

In [4]:
del b
# print (b)

### Operations on List

#### +  (Concatenation)

In [5]:
# Returns a list containing all the elements of the first and the second list.

lst1 = [1,4,9,2,1] #Integer
lst2 = ["a",2,"c",True,5,"name"] #hetrogeneous list

print (lst1 + lst2)

[1, 4, 9, 2, 1, 'a', 2, 'c', True, 5, 'name']

#### * (Repetition)

In [6]:
# Concatenates multiple copies of the same list.

lst = [1,2]

print (lst*3)

[1, 2, 1, 2, 1, 2]

#### [ ] (slice)

In [7]:
# Returns the item at the given index. A negative index counts the position from the right side.

a = [1,2,3.5]
print (a)

b = ["name",a]
print (b)

print (a[0])
print (b[1][0])

[1, 2, 3.5]
['name', [1, 2, 3.5]]
1
1

In [8]:
orderItem = [1, "Jeff", "Computer", 75.50, True]
print (orderItem)

orderItem[2] = "Laptop"
print (orderItem)

[1, 'Jeff', 'Computer', 75.5, True]
[1, 'Jeff', 'Laptop', 75.5, True]

#### [:] (Range slice)

In [9]:
# Fetches items in the range specified by the two index operands separated by : symbol. 
# If the first operand is omitted, the range starts from the zero index. 
# If the second operand is omitted, the range goes up to the end of the list.

lst1=["a",2,"c",True,5,"name"] 

#Slicing the list
print (lst1[2:5])
print (lst1[:])
print (lst1[-1])
print (lst1[1])
print (lst1[-4:-1])
print (lst1[::-1])
print (lst1[::-2])
print (lst1[::2])

['c', True, 5]
['a', 2, 'c', True, 5, 'name']
name
2
['c', True, 5]
['name', 5, True, 'c', 2, 'a']
['name', True, 2]
['a', 'c', 5]

#### in

In [10]:
# Returns true if an item exists in the given list.

lst1=["a",2,"c",True,5,"name"] 
print("c" in lst1)

True

#### not in

In [11]:
# Returns true if an item does not exist in the given list.

lst1=["a",2,"c",True,5,"name"] 
print("name" not in lst1)

False

### Built-in List Methods

#### len()

In [12]:
# Returns the number of elements in the list/tuple

lst1=["a",2,"c",True,5,"name"] 
print (len(lst1))

6

#### max()

In [13]:
# Returns the largest number, if the list contains numbers. 
# If the list contains strings, the one that comes last in alphabetical order will be returned.

lst1 = [1,4,9,2,1] 
print (max(lst1)) #Same Type of data type

lst1 = ["A","a","c"] 
print (max(lst1))

9
c

#### min()

In [14]:
# Returns the smallest number, if the list contains numbers. 
# If the list contains strings, the one that comes first in alphabetical order will be returned.

lst1 = [1,4,9,2,1] 
print (min(lst1))

lst1 = ["A","a","c"] 
print (min(lst1))

1
A

#### append()

In [15]:
# Adds an item at the end of the list.

lst1=["a",2,"c",True,5,"name"] 
print (lst1)

lst1.append("Python") # Append data in the last
print (lst1)

['a', 2, 'c', True, 5, 'name']
['a', 2, 'c', True, 5, 'name', 'Python']

#### extend()

In [16]:
lst1 = ['French', 'English']
lst2 = ['Spanish', 'Portuguese']

# appending language1 elements to language
lst1.extend(lst2)

print('Languages List:', lst1)

Languages List: ['French', 'English', 'Spanish', 'Portuguese']

#### insert()

In [17]:
# Inserts an item in a list at the specified index.

lst1=["a",2,"c",True,5,"name"] 
print (lst1)

lst1.insert(3,4) #Insert data in specific position
print (lst1)

['a', 2, 'c', True, 5, 'name']
['a', 2, 'c', 4, True, 5, 'name']

#### remove()

In [18]:
# Removes a specified object from the list.

lst1=["a",2,"c",True,5,"name","c"] 
print(lst1)

lst1.remove("c")
print(lst1)

['a', 2, 'c', True, 5, 'name', 'c']
['a', 2, True, 5, 'name', 'c']

#### pop()

In [19]:
# Removes and returns the last object in the list.

lst1=["a",2,"c",True,5,"name"] 
print (lst1)

lst1.pop() #Removes last element
print (lst1)

['a', 2, 'c', True, 5, 'name']
['a', 2, 'c', True, 5]

#### reverse()

In [20]:
# Reverses the order of the items in a list.

lst1=["a",2,"c",True,5,"name"] 
print (lst1)

lst1.reverse() 
print (lst1)

['a', 2, 'c', True, 5, 'name']
['name', 5, True, 'c', 2, 'a']

#### sort()

In [21]:
# Rearranges the items in the list according to the alphabetical order. Default is the ascending order. 
# For descending order, put reverse=True as an argument in the function bracket.

lst1=[10,5,3,1,4,12]
print("list: ",lst1)

lst1.sort()
print(lst1)

lst1.sort(reverse=True)
print(lst1)

list:  [10, 5, 3, 1, 4, 12]
[1, 3, 4, 5, 10, 12]
[12, 10, 5, 4, 3, 1]

In [22]:
#List of list

lst1=[1,7,[7,32,16],8,2]

#Sorting works with same kind of data list

lst1[2].sort() 
print(lst1)

[1, 7, [7, 16, 32], 8, 2]

#### list()

In [23]:
# Converts a tuple or string to a list object.
str1="Python"
print(list(str1))

['P', 'y', 't', 'h', 'o', 'n']

In [24]:
tuple1 = ("a","b","c")
print (tuple1, type(tuple1))

lst1 = list(tuple1)
print (lst1, type(lst1))

('a', 'b', 'c') <class 'tuple'>
['a', 'b', 'c'] <class 'list'>

#### tuple()

In [25]:
# Converts a list or string to a tuple object.
lst1 = ['a', 'b', 'c']
tup1 = tuple(lst1)
print (tup1, type(tup1))

('a', 'b', 'c') <class 'tuple'>

In [26]:
str1="Python"
print(tuple(str1))

('P', 'y', 't', 'h', 'o', 'n')

### List Comprehensions

In [27]:
# Squares of even numbers:

squares_of_even = [n*n for n in range(10) if (n%2==0)]
print (squares_of_even)

[0, 4, 16, 36, 64]

In [28]:
#In Normal way:

squares_of_even=[]

for n in range(10):
    if n%2==0:
        squares_of_even.append(n*n)

print(squares_of_even)

[0, 4, 16, 36, 64]