### <h3 align="center">Prepared By Parsis Tamakuwala</h3>

### Set Initialozation

In [1]:
s1 = {1, "Bill", 75.50}
print (s1)

{1, 75.5, 'Bill'}

In [2]:
# set doesn't store duplicate objects.

s1 = {6,1, 2, 2, 3, 4, 4, 5, 5}
print (s1)

{1, 2, 3, 4, 5, 6}

#### set() on String

In [3]:
s1 = set("Python") 
print (s1, type(s1))

{'y', 'P', 't', 'h', 'n', 'o'} <class 'set'>

#### set() on List

In [4]:
s1 = set([45,67,87,36, 55])
print (s1, type(s1))

{67, 36, 45, 87, 55} <class 'set'>

#### set() on Tuple

In [5]:
s1 = set((10,25,15))
print (s1, type(s1))

{25, 10, 15} <class 'set'>

## Operations on Tuples

#### | :: union()

In [6]:
#The union of two sets is a set of all elements from both the collections.

s1 = {1,2}
s2 = {2,3}

print (s1|s2)
print (s1.union(s2))

{1, 2, 3}
{1, 2, 3}

#### & :: intersection()

In [7]:
#The intersection of two sets is a set containing elements common to both collections.

s1 = {1,2}
s2 = {2,3}

print (s1 & s2)
print (s1.intersection(s2))

{2}
{2}

#### â€“ :: difference()

In [8]:
#The difference of two sets results in a set containing elements only in the first set, but not in the second set.

s1 = {1,2}
s2 = {2,3}

print (s1-s2)
print (s1.difference(s2))

{1}
{1}

In [9]:
print (s2-s1)
print (s2.difference(s1))

{3}
{3}

#### ^ :: Symmetric_difference()

In [10]:
# The result of the symmetric difference is a set consisting of elements in both sets, excluding the common elements.

s1 = {1,2}
s2 = {2,3}

print(s1.symmetric_difference(s2))
print(s1 ^ s2)

{1, 3}
{1, 3}

## Built-in Set Methods

#### set()

In [11]:
# Convert anything into set using set() function.

# Converting string into set

str = "Python"
s1 = set(str)
print (s1)

{'y', 'P', 't', 'h', 'n', 'o'}

In [12]:
# Converting list into set

lst = [45,67,87,36, 55]
s1=set(lst)
print (s1)

{67, 36, 45, 87, 55}

In [13]:
# Converting tuple into set

tup1 = (10,25,15)
s1 = set(tup1)
print (s1)

{25, 10, 15}

#### add()

In [14]:
# Adds a new element to the set

s1 = {1,2}

s1.add(3)
print ("s1:",s1)

s1: {1, 2, 3}

#### clear()

In [15]:
# Removes all elements from the set

s1 = {1,2}

s1.clear()
print ("s1:",s1)

s1: set()

#### copy()

In [16]:
# Returns a copy of the set

s1 = {1,2}
print (s1.copy())

{1, 2}

#### difference_update()

In [17]:
# Removes all elements of another set from this set

s1 = {1,2}
s2 = {2,3}

s1.difference_update(s2)
print ("s1:",s1)
print ("s2:",s2)

s1: {1}
s2: {2, 3}

In [18]:
s1 = {1,2}
s2 = {2,3}

s2.difference_update(s1)
print ("s1:",s1)
print ("s2:",s2)

s1: {1, 2}
s2: {3}

#### discard()

In [19]:
# Removes an element from the set if it is a member. (Do nothing if the element is not in set)

s1 = {1,2}

s1.discard(2)
print ("s1:",s1)

s1.discard(4)
print ("s1:",s1)

s1: {1}
s1: {1}

#### remove()

In [20]:
# Removes an element from the set. If the element is not a member, raise a KeyError

s1 = {1,2,3}

s1.remove(3)
print (s1)

#s1.remove(4)
#print (s1)

{1, 2}

#### intersection_update()

In [21]:
# Updates the set with the intersection of itself and another

s1 = {1,2,3}
s2 = {2,3,4}

s1.intersection_update(s2)
print ("s1:",s1)
print ("s2:",s2)

s1: {2, 3}
s2: {2, 3, 4}

In [22]:
s1 = {1,2,3}
s2 = {2,3,4}

s2.intersection_update(s1)
print ("s1:",s1)
print ("s2:",s2)

s1: {1, 2, 3}
s2: {2, 3}

#### isdisjoint()

In [23]:
# Returns True if two sets have a null intersection

s1 = {1,2}
s2 = {3,4}
print (s1.isdisjoint(s2))

True

In [24]:
s1 = {1,2}
s2 = {2,3}
print (s2.isdisjoint(s1))

False

#### issubset()

In [25]:
# Returns True if another set contains this set

s1 = {1,2,3}
s2 = {3}

print (s1.issubset(s2))
print (s2.issubset(s1))

False
True

#### issuperset()

In [26]:
# Returns True if this set contains another set

s1 = {1,2,3}
s2 = {3}

print (s1.issuperset(s2))
print (s2.issuperset(s1))

True
False

#### pop()

In [27]:
# Removes and returns an arbitaryset element. Raise KeyErrorif the set is empty
s1 = {1,2,3}

s1.pop()
print (s1)

{2, 3}

#### symmetric_difference_update()

In [28]:
# Updates a set with the symmetric difference of itself and another

s1 = {1,2,3}
s2 = {3,4,5}

s1.symmetric_difference_update(s2)
print (s1)
print (s2)

{1, 2, 4, 5}
{3, 4, 5}

In [29]:
s1 = {1,2,3}
s2 = {3,4,5}

s2.symmetric_difference_update(s1)
print (s1)
print (s2)

{1, 2, 3}
{1, 2, 4, 5}

#### update()

In [30]:
# Updates the set with the union of itself and others
s1 = {1,2,3}
s2 = {3,4,5}

s1.update(s2)
print (s1)
print (s2)

{1, 2, 3, 4, 5}
{3, 4, 5}

In [31]:
# Adds multiple items from a list or a tuple.

s1 = {"Python", "Java", "C++"}
s1.update(["C", "Basic"])    # updating list
s1.update(("Ruby", "PHP"))     # updating tuple
s1.update({1})        # updating set
s1.update({"abc"})    # updating string

print (s1)

{'C', 1, 'C++', 'Java', 'Basic', 'Ruby', 'PHP', 'Python', 'abc'}

#### all()

In [32]:
# Return True if all elements of the set are true (or if the set is empty).
s1 = {1,2,3}
s2 = {0,1,2,3}
s3 = {False}
s4 = {}

print (all(s1))   # Does not contain 0 or False
print (all(s2))   # 0 is False
print (all(s3))   # False is False
print (all(s4))

True
False
False
True

#### any()

In [33]:
# Return True if any element of the set is true. If the set is empty, return False.
s1 = {1,2,3}
s2 = {}
s3 = {0}

print (any(s1))
print (any(s2))
print (any(s3))

True
False
False

#### enumerate()

In [34]:
# Return an enumerate object. It contains the index and value of all the items of set as a pair.

s1 = {"a","b"}

for idx, val in enumerate(s1):
    print("index is %d and value is %s" % (idx, val))

index is 0 and value is b
index is 1 and value is a

#### len()

In [35]:
# Return the length (the number of items) in the set.

s1 = {1,2,3}
print (len(s1))

3

#### max()

In [36]:
# Return the largest item in the set.

s1 = {1,2,3}
print (max(s1))

3

In [37]:
s1 = {"a","b","c"}
print (max(s1))

c

#### min()

In [38]:
# Return the smallest item in the set.

s1 = {1,2,3}
print (min(s1))

1

In [39]:
s1 = {"a","b","c"}
print (min(s1))

a

#### sorted()

In [40]:
# Return a new sorted list from elements in the set(does not sort the set itself).

s1 = {1,3,2}
print (sorted(s1))

[1, 2, 3]

In [41]:
s1 = {"b","B","A","a"}
print (sorted(s1))

['A', 'B', 'a', 'b']

#### sum()

In [42]:
# Retrun the sum of all elements in the set.

s1 = {1,3,2}
print (sum(s1))

6