### <h3 align="center">Prepared By Parsis Tamakuwala</h3>

# 1) For loop

#### example 1: WAP to find even and odd numbers from the given sequence.

In [4]:
lst=[45,35,12,45,96,10]
even=[]
odd=[]

for i in lst:
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

print("Even Number: ",even)
print("Odd Number: ",odd)

Even Number:  [12, 96, 10]
Odd Number:  [45, 35, 45]

#### example 2: WAP that accept the word from user and reverse it

In [5]:
# method 1

str = "abc"
temp = ""
for i in reversed(str):
    temp = temp + i 
print (temp)

cba

In [3]:
# method 2

str = "abc"
temp = ""

for i in str:
    temp = i + temp

print (temp)

cba

In [6]:
# method 3

str = "abc"
print (str[::-1])

cba

In [7]:
# method 4

str = "abc"
temp = ""

for i in range(len(str),0,-1):
    temp = temp + str[i-1]
    
print (temp)

cba

### For loop with 'range()' function

#### example 1: WAP to find even and odd numbers till 30.

In [9]:
even=[]
odd=[]

for i in range(0,30):
    if (i%2==0):
        #print(i,"Even number")
        even.append(i)
    else:
        #print(i,"Odd number")
        odd.append(i)
        
print("Even number: ",even)
print("Odd Number: ",odd)

Even number:  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
Odd Number:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

#### example 2: range with step size

In [10]:
for i in range(1,11,2):
    print (i)

1
3
5
7
9

In [11]:
for i in range(3,0,-1):
    print (i)

3
2
1

#### example 2: WAP print multiplication table for any user entered number

In [12]:
value=int(input("Enter Number: "))
for i in range(1,11):
    print("\t\t\t\t\t\t",value, " * ", i ," = ", value*i)

Enter Number: 5
						 5  *  1  =  5
						 5  *  2  =  10
						 5  *  3  =  15
						 5  *  4  =  20
						 5  *  5  =  25
						 5  *  6  =  30
						 5  *  7  =  35
						 5  *  8  =  40
						 5  *  9  =  45
						 5  *  10  =  50

#### example 3: WAP to find those numbers that is dividible by 7 and multiple of 5, between 1500 and 2700

In [13]:
lst=[]
for i in range(1500,2701):
    if i%5==0 and i%7==0:
        lst.append(i)
print(lst)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

### for loop with 'else'

In [14]:
digits = [0, 1, 5]
for i in digits:
    print(i)
else:
    print("No items left.")

0
1
5
No items left.

In [15]:
# example 2:

for i in range(5):
    if i > 3:
        break
    print(i)
else:
    print("No items left.")

0
1
2
3

### for loop with 'reverse()' function

In [24]:
# example 1
str = "abcd"

for i in reversed(str):
    print (i)

d
c
b
a

In [25]:
# example 2:
for i in reversed(range(3)):
    print (i)

2
1
0

In [2]:
# example 3:
lst = [55,46,11]
for i in reversed(lst):
    print (i)

11
46
55

# 2) while loop

In [23]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

### while loop with 'else'

In [25]:
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached", count)

0
1
2
3
4
count value reached 5

# The break Statement

In [17]:
# example 1

val = 1

while (val<=10):
    print (val)
    val = val + 1
    if val == 5:
        break

1
2
3
4

In [19]:
# example 2

for x in range(10):
    if x == 3:
        break
    print(x)

0
1
2

# The continue Statement

In [22]:
# example 1

val = 11

while (val>=1):
    val = val - 1
    if val % 2 == 0:
        continue
    print (val)

9
7
5
3
1

In [23]:
# example 2

for letter in 'Python':
    if letter == 'h':
        continue
    print(letter)

P
y
t
o
n

In [40]:
# example 2

for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

# The pass Statement

In [19]:
# example 1

for x in [0, 1, 2]:
    # add pass to add code later
    pass

In [54]:
# example 2

for letter in 'parsis':
    if letter == 's':
        pass
        print ("pass block")
    else:
        print (letter)

p
a
r
pass block
i
pass block

In [53]:
# example 3

x = 4
while (x>=1):
    x = x - 1
    if x == 2:
        pass
        print ("pass block")
    else:
        print (x)

3
pass block
1
0