### <h3 align="center">Prepared By Parsis Tamakuwala</h3>

### Half Simple Triangle Pattern

In [1]:
inp = 5
for i in range(inp):
    for j in range(i+1):
        print (j+1,end=" ")
    print ("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Left Half Triangle Pattern

In [2]:
in_data = int(input("Enter integer number: " ))

for i in range(in_data+1):
    for j in range(i):
        print (i,end=" ")
    print("")

Enter integer number: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Half Natural Number Pattern

In [3]:
inp=int(input("Enter the value: "))
k=0
for i in range(inp):
    for j in range(i+1):
        k=k+1
        print (k,end=" ")
    print ()

Enter the value: 5
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

### Another Example of pattern

In [4]:
inp=9
x=1
for i in range(inp):
    if (i%2==0):
        for j in range(i+1):
            print (x,end=" ")
            x=x+1
        print ("")

1
2 3 4
5 6 7 8 9
10 11 12 13 14 15 16
17 18 19 20 21 22 23 24 25

### Inverted Left Simple Triangle

In [5]:
inp=5
for i in range(inp,0,-1):
    for j in range(i):
        print (j+1,end=" ")
    print(" ")

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### Left Half Triangle

In [6]:
inp=5
for i in range(inp,0,-1):
    for j in range(i):
        print(i,end=" ")
    print(" ")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

### Right Half Natural Number Triangle

In [7]:
inp=4
num=3
x=1
for i in range(inp):
    for j in range(inp-i,1,-1):
        print(" ",end='  ')
    for j in range(i+1):
        print(x,end='  ')
        x=x-1
        if(i!=0):
            num=num+1
    x=num+i
    print()

         1
      3  2
   6  5  4
10  9  8  7

### Square Pattern

In [8]:
# Square pattern with numbers

for i in range(5):
    for j in range(i+1):
        print (i+1,end=" ")
    for j in range(i+1,5):
        print (j+1,end=" ")
    print ()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

### Pascal's Triangle

In [9]:
inp = 5
up_fact=0
down_fact=0

def fact(n):
    data=1
    while (n!=0):
        data=data*n
        n=n-1
    return (data)

for i in range(inp+1):
    up_fact=fact(i)
    for j in range(inp,i,-1):
        print (" ",end=" ")  
    for j in range(i+1):
        down_fact= fact(j)*fact(i-j)
        result=int(up_fact/down_fact)
        print (result,end="   ")
    print()

          1
        1   1
      1   2   1
    1   3   3   1
  1   4   6   4   1
1   5   10   10   5   1

### Hollow Inverted Triangle

In [10]:
inp=9
for i in range(inp+1):
    for j in range(i):
        print (j+1,end="")
    for j in range(inp,i,-1):
        print ("  ",end="")
    for j in range(i,0,-1):
        print (j,end="")
    print ()

1                1
12              21
123            321
1234          4321
12345        54321
123456      654321
1234567    7654321
12345678  87654321
123456789987654321

### Cross Pattern

In [11]:
inp=12345
k=row=len(str(inp))
for i in range(row):
    for j in range(row):
        if (i==j):
            print (i+1,end="")
        elif (k-1==j):
            print (j+1,end="")
        else:
            print (" ",end="")
    k=k-1
    print()

1   5
 2 4
  3
 2 4
1   5

### Triangle Pattern

In [12]:
inp=int(input("Enter the value: "))
for i in range(inp):
    for j in range(inp,i,-1):
        print (end=" ")
    for j in range(i+1):
        print (j+1,end=" ")
    print ("")

Enter the value: 5
     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

### Triangle Pattern with Decresing Order

In [13]:
for i in range(5):
    k = t = i 
    for j in range(inp-1,i,-1):
        print (" ",end=" ")
    for j in range(i+1):
        k = k + 1
        print (k, end =" ")
    t = i + i + 1
    for p in range(t,i+1,-1):
        print (p-1,end = " ")
    print ()

        1
      2 3 2
    3 4 5 4 3
  4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

### Diamond Pattern

In [14]:
row = 9

for i in range(row):
    if (i%2 == 0):
        for j in range(row,i,-1):
            print(" ",end="")
        for j in range(i+1):
            print(j+1,end=" ")
        print()
for i in reversed(range(row-1)):
    if (i%2 == 0):
        for j in range(row,i,-1):
            print(" ",end="")
        for j in range(i+1):
            print(j+1,end=" ")
        print()

         1
       1 2 3
     1 2 3 4 5
   1 2 3 4 5 6 7
 1 2 3 4 5 6 7 8 9
   1 2 3 4 5 6 7
     1 2 3 4 5
       1 2 3
         1

### Another Diamond Pyramid

In [15]:
row = 6
k = 0
for i in range(row+1):
    for j in range(row,i,-1):
        print(" ",end="")
    for j in range(i):
        print(i,end=" ")
    print()
for i in range(row-1,0,-1):
    k = k +1
    for j in range(k):
        print(" ",end="")
    for j in range(i):
        print(i,end=" ")
    print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

### Right Start Pyramid

In [16]:
row = 6
for i in range(row):
    for j in range(i+1):
        print(j+1,end=" ")
    print()
for i in range(row-1,0,-1):
    for j in range(i):
        print(j+1,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

### Hollow Left Start Pyramid

In [17]:
row = 6
for i in range(row,0,-1):
    for j in range(i):
        print(j+1,end=" ")
    print()
for i in range(row+1):
    for j in range(i):
        print(j+1,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

### Multiplication table pattern

In [18]:
row = 8

for i in range(1,row+1):
    for j in range(i):
        k = i * (j+1)
        print (k,end= " ")    
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64