### <h3 align="center">Prepared By Parsis Tamakuwala</h3>

### Simple Half Triangle Pattern

In [42]:
row = 5

for i in range(row):
    x = 65 
    for j in range(i+1):
        print(chr(x),end=" ")
        x = x + 1
    print()

A
A B
A B C
A B C D
A B C D E

### Another Half Triangle Pattern

In [1]:
inp=int(input("Enter the value: "))

n=65
for i in range(inp):
    for j in range(i+1):
        print (chr(n),end=" ")
    n=n+1    
    print ()

Enter the value: 5
A
B B
C C C
D D D D
E E E E E

### Continuous Character Pattern

In [2]:
inp=int(input("Enter the value: "))

n=65
for i in range(inp):
    for j in range(i+1):
        print (chr(n),end=" ")
        n=n+1    
    print ()

Enter the value: 5
A
B C
D E F
G H I J
K L M N O

### Another Continuous Character Pattern

In [3]:
inp=10
x=65

for i in range(inp):
    if (i%2!=0):
        for j in range(i):
            print(chr(x),end=" ")
            x=x+1
        print ()

A
B C D
E F G H I
J K L M N O P
Q R S T U V W X Y

### Albhabet Pattern

In [36]:
row = 5
x = 65

for i in range(row,0,-1):
    for j in range(i):
        print(chr(x),end=" ")
    x = x + 1 
    print()

A A A A A
B B B B
C C C
D D
E

### Left Continuous Character Pattern

In [116]:
inp=5
num=67
x=65

for i in range(inp):
    for j in range(inp-i,1,-1):
        print(" ",end='  ')
    for k in range(i+1):
        print(chr(x),end='  ')
        x=x+1
        if(i!=0):
            num=num+1
    x=num+i
    print()

            A
         C  D
      F  G  H
   J  K  L  M
O  P  Q  R  S

### Letter of the word Pattern

In [48]:
st = "PARSIS"
temp = ""

for i in st:
    for j in i:
        temp = temp + i
        print(temp,end="")
    print()

P
PA
PAR
PARS
PARSI
PARSIS

### Triangle Pattern

In [67]:
row = 7
x = 65

for i in range(1,row):
    for j in range(row,i,-1):
        print(" ",end="")
    for j in range(i):
        print(chr(x),end=" ")
        x = x + 1
    print()

      A
     B C
    D E F
   G H I J
  K L M N O
 P Q R S T U

### Another Triangle Pattern

In [114]:
row = 5
x = 65

for i in range(row):
    for j in range(row-1,i, -1):
        print(" ",end="")
    for j in range(i+1):
        print(chr(x),end=" ")
    x = x + 1
    print()

    A
   B B
  C C C
 D D D D
E E E E E

### Diamond Pattern

In [103]:
row = 6
x = 65

for i in range(row):
    x = 65
    for j in range(row,i+1,-1):
        print(" ",end="")
    for j in range(i+1):
        print(chr(x),end=" ")
        x = x + 1
    print()
for i in range(row-1, 0,-1):
    for j in range(row,i,-1):
        print(" ",end="")
    for j in range(i):
        print(chr(x),end=" ")
        x = x + 1
    print()

     A
    A B
   A B C
  A B C D
 A B C D E
A B C D E F
 G H I J K
  L M N O
   P Q R
    S T
     U

### Cross Pattern

In [5]:
inp="geeksforgeeks"
k=row=len(str(inp))

for i in range(row):
    for j in range(row):
        if (i==j):
            print (inp[i],end=" ")
        elif (k-1==j):
            print (inp[j],end=" ")
        else:
            print (" ",end="")
    k=k-1
    print()

g            s
 e          k
  e        e
   k      e
    s    g
     f  r
      o
     f  r
    s    g
   k      e
  e        e
 e          k
g            s