### <h3 align="center">Prepared By Parsis Tamakuwala</h3>

### Value Returning Function

In [3]:
# function definition
def avg(n1,n2,n3):   
    # function body
    return (n1+n2+n3)/3

# function call
result1 = avg(5,10,15)
result2 = avg(5.5,5.9,7.8)
result3 = avg(1,2,3)

# Print results
print ("result1: ",result1)
print ("result2: ",result2)
print ("result3: ",result3)

result1:  10.0
result2:  6.3999999999999995
result3:  2.0

### Non Value Returning Function

#### Example 1:

In [4]:
def display():
    print ("Hello")
    print ("How are you?")

display()

Hello
How are you?

#### Example 2:

In [3]:
# function definition
def avg(n1,n2,n3):   
    # function body
    print ((n1+n2+n3)/3)

# function call
avg(5,10,15)
avg(5.5,5.9,7.8)
avg(1,2,3)

10.0
6.3999999999999995
2.0

### Positional Argument

In [6]:
def avg(n1,n2,n3):   
    print ((n1+n2+n3)/3)

num1 = int(input("num1: "))
num2 = int(input("num2: "))
num3 = int(input("num3: "))

# function call
avg(num1,num2,num3) # num1 -> n1, num2 -> n2, num3 -> n3

num1: 5
num2: 5
num3: 5
5.0

### Keyword Argument

In [7]:
# function definition
def avg(n1,n2,n3):   
    # function body
    return (n1+n2+n3)/3

# function call
print (avg(n2=5,n3=16,n1=10))  # n2=5 -> n2, n3=16 -> n3, n1=10 -> n1

10.333333333333334

### Default Argument

In [11]:
# function definition
def avg(n1,n2,n3=3):   
    # function body
    return (n1+n2+n3)/3

# function call
print (avg(5,5))  # accept the default value 3
print (avg(5,5,5))  # n3 value is replaced with the value 5

4.333333333333333
5.0

### Local Variable

In [18]:
def fun1():
    n = 5   # local variable
    print ("fun1 value is",n)
    
def fun2():
    fun1()
    n = 10   # local variable
    print ("fun2 value is",n)
    
fun2()

fun1 value is 5
fun2 value is 10

### Global Variable

In [20]:
n = 15  # global variable

def fun1():
    n = 5   # local variable
    print ("fun1 value is",n)
    
def fun2():
    fun1()
    #n = 10   # local variable
    print ("fun2 value is",n)  # if commented, accepts global variable
    
fun2()

fun1 value is 5
fun2 value is 15

### Updating Global Variable

In [25]:
n = 15  # global variable

def fun1():
    global n
    n = n + 1   # local variable
    print ("fun1 value is",n)

def fun2():
    #n = 10   # local variable
    print ("fun2 value is",n)
    
fun1()    
fun2()

fun1 value is 16
fun2 value is 16

## N Nos of Variable Length Argument

#### When we don't know howmany arguments we will need in our function than we start argument using *

In [34]:
def func1(*takeargs):
    for i in takeargs:
        print (i,end=" ")
    print ()

func1(5,6,7)
func1(5,6)
func1(1,2,3,4,5,6,7,8,9)

5 6 7
5 6
1 2 3 4 5 6 7 8 9

## Anonymous/Lambda Function

#### Double the Number

In [1]:
double = lambda x: x * 2
print(double(5))

10

#### Addition of two numbers

In [29]:
sum = lambda var1, var2 : var1 + var2
print (sum(5,6))

11

In [30]:
sum = (lambda var1, var2 : var1 + var2)(5,6)
print (sum)

11

#### Average of two Numbers

In [31]:
print ((lambda x,y:(x+y)/2)(3,3))

3.0

## filter() function

#### Using User-Defined Function

In [47]:
marks = [10,20,30,55,80,90]

def fun1(arg1):
    if arg1>50:
        print (arg1)
        
pass_students = filter(fun1,marks)

for i in pass_students:
    print (i)

55
80
90

#### Using Lambda Function :: Print the numbers which are divisble by 2

In [19]:
my_list = [1,5,4,68,11,3,12]
new_list = list (filter(lambda x:(x%2==0),my_list))
print (new_list)

[4, 68, 12]

#### Supplanting function with 'None'

In [15]:
''' With filter function as None, the function defaults to Identity function, and each element in random_list is checked 
if it's true or not.'''

marks = ['False',True,0,10,False]

pass_students = list(filter(None,marks))

pass_students

['False', True, 10]

## map() function

#### Iterating all elements and returns results

In [48]:
marks = [10,20,30,55,80,90]

def fun1(arg1):
    if arg1>50:
        return (arg1)
        
pass_students = list(map(fun1,marks))
print (pass_students)

[None, None, None, 55, 80, 90]

#### Iterating through all elements

In [35]:
my_list = [1,5,4,68,11,3,12]
new_list = list (map(lambda x:(x%2==0),my_list))
print (new_list)

[False, False, True, True, False, False, True]

#### Iterating all elements

In [6]:
numbers = (1, 2, 3, 4,0)
result = map(lambda x,y: x*y, numbers,numbers)
print(list(result))

[1, 4, 9, 16, 0]

#### Using multiple iterables

In [2]:
a = (5,6,7)
b = (5,6,7)

new_lst = set(map(lambda a,b : a + b,a,b))
print (new_lst)

{10, 12, 14}

#### Listify the list of strings individually

In [1]:
# List of strings
l = ['parsis', 'pratik', 'sakshi'] # bool or integer value is not supported
  
# map() can listify the list of strings individually
test = list(map(tuple,l)) 
print(test)

[('p', 'a', 'r', 's', 'i', 's'), ('p', 'r', 'a', 't', 'i', 'k'), ('s', 'a', 'k', 's', 'h', 'i')]